/* ------------ */
/* Global */
/* ------------ */
:root {
    --text-color: #111111;
}

* {
    box-sizing: border-box;
    outline: none;
}

html {
    line-height: 1.6;
    width: 100%;
    height: 100%;
    font-size: calc(10.0em / 16);
}

@media only screen and (max-width: 669px) {
    html {
        font-size: calc(10.0em / 16);
    }
}

body {
    font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: #ededed;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    color: var(--text-color);
    overflow: hidden;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    
	font-family: 'HelveticaNeueLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
	color: var(--text-color);
	text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    height: 100dvh;
}

.main-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    background-color: yellow;
    transition: all 0.6s linear;
    opacity: 0;
    
}

.main-overlay.open {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    opacity: 1.0;
}

.main-overlay span {
    font-size: 2.8rem;
    opacity: 0;
    transition: opacity 0.4s linear;
}

.main-overlay span.open {
    opacity: 1.0;
}
